@using Abp.Collections.Extensions
@model LyuAdmin.Web.Models.Layout.TopMenuViewModel

@foreach (var menuItem in Model.MainMenu.Items)
{
    <li class="@(Model.ActiveMenuItemName == menuItem.Name ? "active" : "")">
        @if (menuItem.Items.IsNullOrEmpty())
        {
            <a href="@menuItem.Url">
                @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                {
                    <i class="@menuItem.Icon"></i>
                }
                <span>@menuItem.DisplayName</span>
            </a>
        }
        else
        {
            <a href="#" >
                @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                {
                    <i class="@menuItem.Icon"></i>
                }
                <span>@menuItem.DisplayName</span>
            </a>
            <ul class="treeview-menu">
                @foreach (var subMenuItem in menuItem.Items)
                {
                    <li>
                        <a href="@subMenuItem.Url">
                            @if (!string.IsNullOrWhiteSpace(subMenuItem.Icon))
                            {
                                <i class="@subMenuItem.Icon"></i>
                            }
                            <span>@subMenuItem.DisplayName</span>
                        </a>
                    </li>
                }
            </ul>
        }
    </li>
}